.data-model-grid-model-editor {
  width: 964px;
}

.data-model-editor-fields-index {
  box-sizing: border-box;
  max-height: 396px;
  min-height: 175px;
  border: 1px solid #dcdee3;
  border-radius: 8px;
  display: flex;
  font-size: 12px;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE/Edge */

  
 

  .fields-content.fields-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #666;
    flex-direction: column;
    padding: 0;
    margin: 0;

    img {
      margin-bottom: 5px;
    }
  }

  .field-menu {
    width: 207px;
    box-sizing: border-box;
    border-right: 1px solid #dcdee3;
    display: flex;
    flex-direction: column;
    
    .field-menu-scroll {
      flex: 1;
      overflow-y: auto;
    }

    .fields-menu-item {
      display: flex;
      align-items: center;
      height: 32px;
      padding: 0 24px;
      color: #666769;
      cursor: pointer;
      position: relative;

      p {
        margin: 0;
        padding: 0;
        white-space: nowrap;
        word-break: break-all;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      span {
        display: none;
        width: 12px;
        height: 14px;
        position: absolute;
        top: 10px;
        right: 16px;
        background: url(https://img.alicdn.com/imgextra/i2/O1CN01tbd7uG1fHLOqvkhwB_!!6000000003981-2-tps-24-28.png);
        background-size: 12px 14px;
        cursor: pointer;
      }
    }

    .fields-menu-item:hover span {
      display: block;
    }

    .fields-menu-item.active {
      border-left: 4px solid #0079ff;
      padding-left: 20px;
      background-image: linear-gradient(90deg, #edf1fa, #fdfdfe);
      color: #2a62ff;
      cursor: default;
    }
  }

  .fields-add-button {
    color: #2a62ff;
    height: 42px;
    line-height: 42px;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
  }

  .fields-content {
    flex: 1;
    padding: 0 0 0 16px;
    margin-bottom: 20px;
    position: relative;

    .fields-content-selected {
      line-height: 39px;
      color: #1a1a1a;
      background: #fff;
      margin-top: 5px;
      left: 16px;
    }

    .fields-scroll-box {
      max-height: 316px;
      padding-right: 25px;
      overflow-y: auto;
    }

    .fields-item {
      width: 100%;
      height: 46px;
      display: flex;
      margin-top: -1px;
      align-items: center;
      border: 1px solid #ccc;
      background-color: #fff;
    }

    .fields-item:first-child {
      margin-top: 0;
    }

    .item-order-action span {
      margin-right: 16px;
      color: #8c8c8c;
      cursor: pointer;
    }

    .item-order-action span.active {
      color: #2a62ff;
      cursor: not-allowed;
    }
  }
}

.base-component-sort-list {
  position: relative;
  box-sizing: content-box;

  .base-component-sort-list-item {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #e5e5e5;

    .base-component-sort-list-item-drag:first-child {
      border-right: 1px solid rgba(0, 0, 0, .1);
    }

    .base-component-sort-list-item-drag {
      width: 32px;
      box-sizing: border-box;
      background: url(https://img.alicdn.com/imgextra/i3/O1CN01RC8eC61rp20dgwqtg_!!6000000005679-2-tps-16-24.png) no-repeat center center;
      background-size: 8px 12px;
      cursor: move;
    }


    .base-component-sort-list-item-content {
      display: flex;
      align-items: center;
      flex: 1;
      padding: 0 8px 0 5px;
      overflow: hidden;
      height: 100%;
      color: #596267;

      .base-component-sort-list-item-action {
        line-height: 14px;
      }
    }

    .base-component-sort-list-item-content>span {
      display: flex;
    }

    .base-component-sort-list-item-label {
      display: flex;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      flex: 1;
      height: 100%;
      font-family: PingFangSC;
      font-weight: 400;
      color: #596267;
      letter-spacing: .4px;
      line-height: 16px;
  }
  }
}